<%= render "shared/navbar" %>
<% if notice != nil %>
<div class="alert alert-warning alert-dismissable">
    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p><%= notice %></p>
  </div>
</div>
<% end %>

<div class=container style="margin-bottom:50px">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <% @users.each do |user| %>
        <div class="user">
          <div class="user_image">
            <%= profile_img(user) if profile_img(user) %>
          </div>
          <%= user.name %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
