<h1>Nyanstaに新しく画像が投稿されました！</h1>

<h4>title: <%= @picture.title %></h4>
<p>content: <%= @picture.comment %></p>
<!--<%= image_tag @picture.image.url %>-->

<p>
  <%= link_to '投稿された画像はこちら', pictures_url %>
</p>
