<!--
<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
-->
<p>こんにちは <%= @resource.email %>!</p>

<p>あなたのパスワードを変更するリクエストが行われました。以下のリンクからパスワードの変更が可能です。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしあなたがパスワードリセットをリクエストしていない場合は、このメールを無視して下さい。</p>
<p>上記リンクをクリックして新しいパスワードを作成しない限り、パスワードは変更されません。</p>
